.tri-img {
    width: 200px;
    height: auto;
}

.sect-tri {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    margin-top: 5px;
}

.linea {
    border: 1px solid red
}

.products {
    display: flex;
    flex-direction: row;
}

#before {
    border: 1px solid lightblue
}

#after {
    border: 1px solid red
}
