* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  border: 0.3rem solid black;
  display: flex;
  flex-direction: row;
}

.block {
  width: 10rem;
  height: 10rem;
}
/* Se indica en este flex que, el grow es cero, es decir no podrá crecer  ni obtener una parte del de espacio que sobra del contenedor flex, shrink es 1 es decir que si va a poder encogerse en relación al basis pero su velocidad es la default, y el basis es automático, es decir, el tamaño del item será automatico en relación al espacio que sobre */
.box1 {
  background-color: aqua;
  flex: initial;
}
/* En este flex le digo que, del width del contenedor flex lo divida de forma que a este se le den 5 partes y el resto que tome lo demás de forma distribuida */
.box2 {
  background-color: bisque;
  flex: 5 2 auto;
}
/* En este se indica el grow como 1, es decir, que se dará una parte del espacio que sobra a este item, el shrink es 1 y el basis es auto */
.box3 {
  background-color: violet;
  flex: auto;
}

/* PARTE 2 */
.container2 {
  display: flex;
  flex-direction: row-reverse; /* Determina la dirección en la que se van a mostrar los hijos, en este caso como si fuera una fila y con un orden invertido*/
  border: 0.3rem solid black;
}
.block2 {
  width: 10rem;
  height: 10rem;
}

.box4 {
  background-color: teal;
}

.box5 {
  background-color: blue;
}

.box6 {
  background-color: chartreuse;
}
