.contenedor {
    border: 5px;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 100px 200px 250px; /* with this we can say how many columns we want -- */
    grid-template-rows: 150px 200px; /* with this property we can define the size of the rows and hon many we are going to have */
    /* we can add a property that when we used by default  we add the size of the rows */
    /* grid-auto-rows: 150px; we are saying that i want that the rows have 150px of size */
}

.contenedor2 {
    border: 5px;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 180px 200px 220px; /* I'm saying that i want 3 rows wiht that specific size in px */
    grid-template-columns: 300px 250px;
    grid-auto-flow: column;
}
.contenedor3 {
    border: 5px;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 180px 200px 220px; /* I'm saying that i want 3 rows wiht that specific size in px */
    grid-template-columns: 300px 250px;
    grid-auto-flow: column;
    column-gap: 3px;
    row-gap: 5px;
}

.contenedor4 {
    background-color: chartreuse;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    gap: 20px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.section1 {
    display: grid;
    justify-content: center;
}
.justify-class {
    display: grid;
    height: 200px;
    width: 400px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 12px;
}
.justify-inside{
    place-content: end;
    border: 5px solid blue;
    display: grid;
    background-color: pink;
    width: 100% ;
    height: 100%;
}
.contenedor5 {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template: 140px 140px 140px  /140px 140px 140px;
    place-content: center;
    gap: 9px;
}

.item5{ 
    border: 5px solid black;
}

.item-1 {
    background-color: cyan;
    grid-column: 4 / 1;
}
.item-2 {
    background-color:aqua;
    grid-row: 2 / 4;
}
.item-3 {
    background-color:aqua;
    grid-column: 2/4;
    grid-row:2/4;
}


.contenedor6 {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template: 140px 140px 140px  /140px 140px 140px;
    place-content: center;
    gap: 9px;
}

.item6{ 
    border: 5px solid black;
}

.item-c1 {
    background-color: cyan;
    grid-column: 2 / 1;
    grid-row: 1/1;
}
.item-c2 {
    background-color: pink;
    grid-column: 2 / 4;
    grid-row: 1/1;
}
.item-c3 {
    background-color: red;
    grid-column: 1 / 3;
    grid-row: 2/2;
}
.item-c4 {
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 2/2;
}
.item-c5 {
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 3/3;
}
.item-c6 {
    background-color: greenyellow;
    grid-column: 2 / 3;
    grid-row: 3/3;
}

.contenedor7 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid; 
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px) ;  /* este valor sirve para que podamos agregarle un valor máximo y minimo a nuestras columnas */
    grid-template-rows: repeat(3, auto);  /* este valor de auto es agregado para que el alto de las filas se adapte al contenido */
}

.item7 {
    border: 5px solid blue;
    font-size: 2rem;
}

.contenedor8 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid; 
    grid-template-columns: 5fr 1fr 1fr
}

.item8 {
    border: 5px solid blue;
    font-size: 2rem;
}

.contenedor9 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid; 
    grid-template-columns: 2fr 1fr min-content 1fr;
}

.item9 {
    border: 5px solid blue;
    font-size: 2rem;
}
.contenedor10 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid; 
    grid-template-columns: 2fr 1fr max-content 1fr;
}

.item10 {
    border: 5px solid blue;
    font-size: 2rem;
}

.contenedor11 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid; 
    grid-template-columns:  repeat(auto-fill,minmax(100px, 1fr) )  
}

.item11 {
    border: 5px solid blue;
    font-size: 2rem;
}
.contenedor12 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid; 
    grid-template-columns:  repeat(auto-fit,minmax(100px, 1fr) )  
}

.item12 {
    border: 5px solid blue;
    font-size: 2rem;
}
