@media (min-width: 1024px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .item-a,
  .item-b,
  .item-c {
    width: 33.3%;
    height: 200px;
  }
  .item-d {
    height: 500px;
  }
}
