* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1, 6rem;
  width: 100%;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.navbar {
  width: 100px;
}

.header-li {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}

.box {
  width: 100%;
  min-width: 367px;
  height: 70px;
  margin: 2px;
}

.item-b {
  background-color: violet;
  border-color: black;
  border-style: solid;
}

.li-footer {
  display: flex;
  justify-content: space-around;
}
