* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1, 6rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

body {
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}

.box {
  width: 100%;
  min-width: 200px;
}

.container {
}

.item-b {
  background-color: violet;
}
