* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1, 6rem;
  width: 100%;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.navbar {
  width: 100px;
}

.header-li {
  display: flex;
  justify-content: space-between;
}

main {
  width: 100vw;
}

.container {
  width: 99%;
  display: flex;
  flex-flow: row wrap;
}

.box {
  width: 100%;
  height: 150px;
  margin: 2px 0px;
}

.item-b {
  background-color: violet;
  border-color: black;
  border-style: solid;
}

.item-a {
  background-color: aqua;
  border-color: black;
  border-style: solid;
}
.item-c {
  background-color: darkgray;
  border-color: black;
  border-style: solid;
}
.item-d {
  background-color: gold;
  border-color: black;
  border-style: solid;
}

.li-footer {
  display: flex;
  justify-content: space-around;
}
