a:link {
  color: red;
}

a:visited {
  color: green
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content:center;
}

.portfolio-group {
  position: relative;
}


.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: brown;
  width: 150px;
  height: 150px;
  border-radius: 50%;

}
.svg-port { 
  padding: auto;
}
