a:link {
  color: red;
}

a:visited {
  color: green
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content:center;
}



.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: .3s;
}

.portfolio-group {
  display: flex;
  justify-content:center;
  align-items: center;
}

.svg-port {
  width: 60px
}

.texto {
  display: none;
}

.svg-container:hover{
  transform: scaleX(2);
  transform-origin: left;
  border-radius: 0 1rem 1rem 0;
}

.svg-container:hover * {
  transform: scaleX(0.75);
}

.svg-container:hover .texto {
  position: relative;
  display: block;
}

